body{
    font-family: 'Poppins', manrope;                                            
    padding: 0;
    overflow-x: hidden;
  }
::-webkit-input-placeholder {
color: #808195!important;
font-size: 0.875rem;
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: normal;
  }
.section {
  background: var(--Dark, #161D26);
  height: 100%;
  width: 100vw;
  overflow-y: auto;
}
.form-layout {
border-radius: 2.3125rem;
background: #0B0E13;
position: relative;
margin-bottom: 40px;
margin-top: 110px;
padding: 20px !important;
}
.form {
/* max-height: 43.94388rem !important; */
/* padding: 24px; */
flex-shrink: 0; 
border-radius: 2.3125rem;
background: var(--secondary-background, #12181F);
display: flex;
justify-content: center;
align-items: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.card-title {
width: 344.74px;
height: 34.48px;
font-size: 24px;
font-weight: 700;
line-height: normal;
text-align: left;
color: white;
    
}
.card-subtitle{
color: #C3CDDB;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%; /* 1.5rem */
width: 17.23681rem;
height: 2.87369rem;
flex-shrink: 0;
margin-top: 13.33px;
margin-bottom: 50.24px!important;
}
.password-subtitle {
color: var(--Gray-Medium-light, #969696);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
margin-top: 16px;
display: flex;
align-items: center;
}
.input-styling{
width: 298.116px;
height: 64px!important;
border-radius: 64px;
background: #161D26!important;
color: white;
}
.v-input--density-default .v-field--no-label {
 --v-field-padding-bottom: 5px!important; 
}
.cnt-text {
color: var(--White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 19.6px */
margin-right: 6px ;
}
.border{
width: 27px;
height: 1px;
background: #303A46;
margin-right: 6px;
}
.img-bg{
height: 30px;
width: 30px;
border-radius: 20px;
background: #161D26;
}
.b-styling{
  justify-content: center;
  align-items: center;
  margin-top: 33.72px;
}

.facebook-icon{
height: 42px;
width: 42px ;
border-radius: 17px;
padding: 9px;
margin-right: 10px!important;
cursor: pointer;
background: #161D26;
}

.otp-text{
color: var(--Basic-White, #FFF);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
margin-top: 35px;
}
.v-otp-input .v-field {
  height: 56px !important;
  width: 56px;
  justify-content: flex-start!important;
  margin-top: 12px;
  border-radius: 10px;
  }
  .v-otp-input__content{
  padding: 0px !important;
  }
  .v-otp-input{
  justify-content: flex-start!important;
  }
.code-validation-text{
color: var(--Gray-Medium-light, #969696);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
margin-top: 33px !important;
}
.resend-code{
color: var(--Primary-100, #2873FF);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
cursor: pointer;
}

.login-text{
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.v-otp-input__field {
  font-size: 1.25rem;
  height: 100%;
  outline: none;
  text-align: center;
  width: 100%;
  background: #12181F!important;
  border-radius: 10px;
  border: 2px solid var(--border, #303A46);
  color: white!important;
}
.main{
/* background: radial-gradient(52.19% 100% at 50% 0%, #000 0%, rgba(0, 0, 0, 0.00) 95.31%); */
backdrop-filter: blur(44.04999923706055px);
height: 100%;
width: 100vw;
overflow-y: auto;
overflow-x: hidden;
}
