body{
    font-family: 'Poppins', manrope;                                            
    padding: 0;
    overflow-x: hidden;
  }
::-webkit-input-placeholder {
color: #808195!important;
font-size: 0.875rem;
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: normal;
}

.section {
  background: var(--Dark, #161D26);
  height: 100%;
  width: 100vw;
  overflow-y: auto;
}
.form-layout {
border-radius: 2.3125rem;
background: #0B0E13;
position: relative;
margin-bottom: 40px;
margin-top: 110px;
padding: 20px !important;
}
.form {
/* max-height: 43.94388rem !important; */
/* padding: 24px; */
flex-shrink: 0; 
border-radius: 2.3125rem;
background: var(--secondary-background, #12181F);
display: flex;
justify-content: center;
align-items: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.card-title {
width: 344.74px;
height: 34.48px;
font-size: 24px;
font-weight: 700;
line-height: normal;
text-align: left;
color: white;
    
}
.card-subtitle{
color: #C3CDDB;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%; /* 1.5rem */
width: 17.23681rem;
height: 2.87369rem;
flex-shrink: 0;
margin-top: 13.33px;
margin-bottom: 50.24px!important;
}
.password-subtitle {
color: var(--Gray-Medium-light, #969696);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
margin-top: 16px;
display: flex;
align-items: center;
}
.input-styling{
width: 298.116px;
height: 64px!important;
border-radius: 64px;
background: #161D26!important;
color: white;
}
.v-input--density-default .v-field--no-label {
 --v-field-padding-bottom: 5px!important; 
}
.cnt-text {
color: var(--White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 19.6px */
margin-right: 6px ;
}
.border{
width: 27px;
height: 1px;
background: #303A46;
margin-right: 6px;
}
.img-bg{
height: 30px;
width: 30px;
border-radius: 20px;
background: #161D26;
}
.b-styling{
  justify-content: center;
  align-items: center;
  margin-top: 33.72px;
}

.facebook-icon{
height: 42px;
width: 42px ;
border-radius: 17px;
padding: 9px;
margin-right: 10px!important;
cursor: pointer;
background: #161D26;
}

.otp-text{
color: var(--Basic-White, #FFF);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
margin-top: 35px;
}
.v-otp-input .v-field {
  height: 56px !important;
  width: 56px;
  justify-content: flex-start!important;
  margin-top: 12px;
  border-radius: 10px;
  }
  .v-otp-input__content{
  padding: 0px !important;
  }
  .v-otp-input{
  justify-content: flex-start!important;
  }
.code-validation-text{
color: var(--Gray-Medium-light, #969696);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
margin-top: 33px !important;
}
.resend-code{
color: var(--Primary-100, #2873FF);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
cursor: pointer;
}

.login-text{
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.v-otp-input__field {
  font-size: 1.25rem;
  height: 100%;
  outline: none;
  text-align: center;
  width: 100%;
  background: #12181F!important;
  border-radius: 10px;
  border: 2px solid var(--border, #303A46);
  color: white!important;
}
.main{
/* background: radial-gradient(52.19% 100% at 50% 0%, #000 0%, rgba(0, 0, 0, 0.00) 95.31%); */
backdrop-filter: blur(44.04999923706055px);
height: 100%;
width: 100vw;
overflow-y: auto;
overflow-x: hidden;
}
.primary-btn1{
  display: flex !important;
  min-height: 64px;
  align-items: center !important;
  border-radius: 16px !important;
  background: var(--Primary-100, linear-gradient(180deg, #2873FF 0%, #0B6B96 100%), #2873FF) !important;
  text-transform: unset !important;
  color: var(--Colors-Base-white, #FFF);
  text-align: center !important;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal !important;
  font-weight: 400;
  line-height: normal !important;
  letter-spacing: 0px!important;
  }
.acct-text{
color: var(--Primary-80, #5892FF);
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
}
.acct-settings{
  border-radius: 16px;
  background: var(--secondary-background, #12181F);
  display: flex;
  padding: 16px var(--spacing-3xl, 24px);
  /* width: 940px; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 70px;
  }
.partners-text{
color: var(--Gray-Medium-dark, #646464);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 28.8px */
}


@media screen and (max-width: 600px) {
  .frame-1{
  display: flex !important;
  margin-top: 100px !important;
  width: fit-content !important;
  padding: 4px;
  }
  .writing-btn{
    width: 60px !important;
    height: 30px !important;
  }
  .writing-text{
    font-size: 12px !important;
    letter-spacing: 0.12px !important;
    /* font-weight: 500 !important; */
  }
  .headertext1, .web {
    font-size: 48px !important;
    letter-spacing: -1.44px !important;
    display: flex !important;
    margin: 0 !important;
  }
 .webi{
  margin-right: 50px !important;
 }
  .demo-star{
    margin-left: 68% !important;
    display: flex !important;
    width: 100px !important; 
  }
  .subtitle-text{
  width: fit-content !important;
  font-size: 16px !important;
  letter-spacing: 0.48px !important;
  display: flex !important;
  line-height: 160% !important;
  margin-top: 16px !important;
  }
  .yellow-coin{
    left: -16% !important;
    top: 44% !important;
    width: 90px !important;
  }
  .light-green-coin{
    right: -52px !important;
    top: 171px !important;
    width: 90px !important;
  }
  .landing-page-form{
    width: 100% !important;
    padding: 19px !important;
  }
 
  .btn-segment{
    height: 33px !important;
    padding: 6.43px !important;
    gap: 8.037px !important;
    flex: 1 0 0 !important;
  }
  
  .buy-btn{
    display: flex;
    height: 32px !important;
  }
  .card-sub1{
    margin-top: 82px !important;
    letter-spacing: 0.6px !important;
    font-size: 12px !important;
  }
  .section2i{
    height: fit-content;
    margin-top: 130px !important;
    /* width: 100%vw !important; */
  }
  .blue-ellipse{
    width: 900px !important;
  }
  .btn-segment{
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    margin-bottom: 48px !important;
  }
  .blue-ellipse1{
    top: 8% !important;
    right: 0% !important;
    width: 70% !important;
  }
  .blue-ellipse2{
  top: 2%;
  right: 0% !important;
  width: 70% !important;
  }
  .section2-title{
    font-size: 40px !important;
    width: fit-content !important;
    margin-top: 24px !important;
    margin-bottom: 20px !important;
  }
  .section2-titleii{
    font-size: 40px !important;
    width: fit-content !important;
    margin-top: 24px !important;
    margin-bottom: 48px !important;
  }
  .section2-titlei2{
    font-size: 40px !important;
    width: fit-content !important;
  }
  .faq-div{
    margin-top: 24px !important;
    margin-bottom: 48px !important;
  }
  .caption2{
    width: fit-content !important;
    line-height: 160% !important; 
    letter-spacing: 0.48px !important;
    font-size: 16px !important;
  }
  .captionii{
    width: fit-content !important;
    line-height: 160% !important; 
    letter-spacing: 0.48px !important;
    font-size: 16px !important;
    margin-top: 24px !important;
  }
  .card-layout1{
    display: flex !important;
  }
  .card-layout{
   height: fit-content !important;
  }
  .section2ii{
    margin-top: -40px !important;
  }
  .sub-text2{
    margin-top: 61px !important;
    letter-spacing: 0.6px !important;
    font-size: 12px !important;
  }
  .sub-text2i{
    margin-top: 61px !important;
    letter-spacing: 0.6px !important;
    font-size: 12px !important;
  }
  .svg-frame{
    height: 70% !important;
    width: 100% !important;
  }
  .green-coin1{
    width: 80px !important;
    top: -10% !important;
    left: -6% !important;
    bottom: -67% !important;
  }
  .first-col{
    margin-inline-end: unset !important;
    margin-top: 0 !important;
    margin-bottom: 26px !important;
  }
  .frame1{
    padding: 20px !important;
    width: 100% !important;
  }
  .yellow-coin1{
    margin-top: 95px !important;
    width: 75px !important;
  }
  .first-col-wrap{
    margin-bottom: 0px !important;
  }
  .second-col{
  margin: 0px !important;
  padding: 0px !important;
  }
  .second-coli{
  margin-top: 26px !important;
  padding: 0px !important;
  height: 60% !important;
  }
  .frame-2{
  padding: 0  !important;
  margin: 0px !important;
  width: 100% !important;
  height: 100% !important;
  }
  .sel-coli{
    margin-bottom: 25px !important;
  }
  .btc-box1{
   width: 80% !important;
   margin-top: 13px !important;
  }
  .cursor{
  width: 46%;
  margin-left: 55% !important;
  top: 51% !important;
  }
  .sell-col{
    padding: 0 20px !important;
  }
  .img-wrap1{
    padding: 0 45px !important;
    margin-top: 10px !important;
    height: 170px !important;
  }
  .card1i{
    margin-left: 27% !important;
  }
  .card1ii{
    left: 10% !important;
    margin-top: 74px !important;
  }
  .coin-wrap1{
    height: 80% !important;
  }
  .buy{
    font-size: 24px !important;
    line-height: normal !important;
  }
  .security-btn{
    margin-top: 4% !important;
  }
  .coin-wrap1i{
    height: 200px !important;
    width: fit-content !important;
  }
  .reverse{
    height: 100% !important;
    padding: 20px !important;
  }
  .review-cards{
  width: 58% !important;
  margin-left: 5% !important;
  display: flex !important;
  margin-bottom: 20px !important;
  }
  .review-name{
  font-size: 10.728px !important;
  font-style: normal !important; 
  
  }
  .location-txt{
  font-size: 8.046px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  }
  .blue-box{
  width: 54.309px !important;
  padding: 6.705px;
  top: 14% !important;
  }
  .layouti{
    padding: 0 !important;
    height: 220px !important;
  }
  .feedback-subtitle{
  width: 68% !important;
  align-self: stretch !important;
  color: #8E9BAE !important;
  }
  .demo-div1{
    margin: 0px !important;
    margin-bottom: 26px !important;
  }
  .barcode-section{
    height: 100% !important;
  }
  .wallet-div{
  margin-left: 26px !important;
  margin-bottom: 25px !important;
  }
  .text-demoi{
    text-decoration: none !important;
    color: #8E9BAE !important;
    font-weight: 400 !important;
  }
  .section3{
   padding: 0px !important;
   margin-top: 130px !important;
  }
  .icon-text{
    font-size: 12px !important;
    border-left: 0.875px solid #8E9BAE !important;
    padding-left: 8px !important;
    display: flex !important;
    align-items: center !important;
    line-height: normal !important;
  }
  .social-icons{
    width: 27% !important;
  }
  .social-icons-div{
    margin-top: 50px !important;
  }
  .desktop-screen {
    display: none !important;
  }
  .mobile-screen{
    margin-top: 72px !important;
  }
  .phone-section{
    padding-top: 80px !important;
    padding-bottom: 10px !important;
  }
  .title-text{
  font-size: 16px !important;
  color: white !important;
  }
  .title-text-light{
  font-size: 16px !important;
  color: #10192D !important;
  }
  .answer-text{
    font-size: 16px !important;
  }
  .expansion-panel{
    padding: 0px !important;
  }
  .v-expansion-panel-title--active > .v-expansion-panel-title__overlay, .v-expansion-panel-title[aria-haspopup=menu][aria-expanded=true] > .v-expansion-panel-title__overlay {
    background: rgb(182, 190, 213) !important;
    border-radius: 15px;
    display: none !important;
    }
  .v-icon--size-default {
      font-size: calc(var(--v-icon-size-multiplier)* 1.5em);
      color: #8E9BAE;
      margin-left: 17px;
  }
  .headline{
    font-size: 40px !important;
    width: 151px !important;
    margin: auto !important;
    letter-spacing: -1.2px !important;
    margin-top: 24px !important;
  }
  .caption1i{
    font-size: 12px !important;
    letter-spacing: 0.6px !important;
 
  }
  .explore2i{
  font-size: 16px !important;
  color: #DBE8FF !important;
  letter-spacing: 0.48px !important;
  width: fit-content !important;
  margin-top: 24px !important;
  }
  .explore-trade{
  font-size: 16px !important;
  width: fit-content !important;
  }
  .coin-box2{
  gap: 20px !important;
  }
  .coin-box1{
  padding-left: 18px !important;
  gap: 20px !important;
  }
  .coin-box3{
  padding-left: 15px !important;
  gap: 20px !important;
  }
  .right-vector1{
    right: 70% !important;
  }
  .left-vector1{
   left: 70% !important;
  }
  .coin-ani{
    width: 65px !important;
    height: 65px !important;
  }
  .Demo-header{
    font-size: 68px !important;
    position: absolute !important;
    width: fit-content !important;
    /* left: -26% !important; */
  }
  .banner-wrap{
    margin-bottom:153.88px !important;
    margin-top: -35px !important;
  }
}


@media only screen and (min-width: 1026px) {
  .mobile-screen {
      display:none !important;
  }
} 